<h1>Módulo de busca avançada de clientes.</h1>

{{#each clients}}

<p>ID Cliente: {{dataValues.id}}</h1>
<p>Nome: {{dataValues.name}}</p>
<p>E-mail: {{dataValues.email}}</p>
<p>Telefone: {{dataValues.phone}}</p>
<p>Sexo: {{dataValues.gender}}</p>
<hr>

{{/each}}
